<main>
  <div class="cards">
    <mat-card *ngFor="let item of roles">
      <mat-card-content>
        <p>{{ item.name }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button >Editar</button>
        <button mat-button color="primary" (click)="deleteRol(item.id)">Borrar</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
    <h1>Roles</h1>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" type="text" formControlName="name" />
    </mat-form-field>
    <button mat-raised-button type="button">cancelar</button>
    <button mat-raised-button color="accent" type="submit">crear</button>
  </form>
</main>
